.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.landing-editor .popup {
    display: flex;
    position: relative;
    z-index: inherit;
}
.popup-content {
    background: #fff;
    max-width: 750px;
    width: 90%;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    gap: 24px;
    position: relative;
}

.popup-close {
    position: absolute;
    top: -9px;
    right: 10px;
    background: none;
    border: none;
    font-size: 44px;
    cursor: pointer;
}

.popup-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 18px;
    background: #25d366;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.popup-qr {
    width: 50%;
}
.popup-qr img {
    width: 100%;
}
@media (max-width: 600px) {
    .popup-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px 15px;
    }

    .popup-qr {
        width: 100%;
        margin-top: 10px;
    }
}
